---
name: Node CI
on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master
      - release/*
jobs:
  build:
    name: Node CI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version-file: '.nvmrc'
        # `cache: npm` seems to require a `package-lock.json` file
        # cache: npm
    - run: npm i
    - run: npm run build --if-present
    - run: npm test
