---
name: Create and publish a packages to npm
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
jobs:
  npm-publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true
          submodules: true
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
          registry-url: https://registry.npmjs.org
      - name: Install dependencies
        run: npm ci --no-audit --no-fund
      - name: Run tests
        run: npm test
      - name: Build Package
        run: npm run build --if-present
      - name: Publish to npm
        run: npm publish --provenance --access public

